*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(45deg,#1F1A38,#7462ff);
    background-image: -moz-linear-gradient(45deg,#1F1A38,#7462ff);
    background-image: -webkit-linear-gradient(45deg,#1F1A38,#7462ff);
}

/*HEADER*/
header {
    padding: 5px 2%;
    background-color: #02020285;
    position: sticky;
    height: auto;
    z-index: 50000;
    
}

.nav-p{
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    text-decoration: none;
    font-size: 140%;
    letter-spacing: 20%;
}
.navbar-bar ul{
    word-spacing: 50%;

}
.nav-p{
    padding-left: 100px;
}

.header__logo{
    width: 8%;

}
@media (min-width:991px){
    header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width:991px){
    header{
        min-height: 8%;
        background-color: #02020254;
        background-image: linear-gradient(80deg,#b566ffb9,#6131af67);
        background-image: -moz-linear-gradient;
        background-image: -webkit-linear-gradient;
        border-bottom: 2px solid white;

    }
    .nav-p{
        background-color: #0202021e;
        text-align: start;
        padding: 0;
        margin-left: 80px;
        padding-left: 20px;
        margin-right: 70px;
        padding-right: 20px;
    }
    .nav-p{
        text-align: start;
    }
    .navbar-toggler {
        width: 20px;
        height: 20px;
        padding-top: 9%;
        position: absolute;
        transition: .5s ease-in-out;
    }
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: 0;
    }
    .navbar-toggler span{
        margin: 0;
        padding: 0;
    }
    .toggler-icon{
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: rgb(255, 255, 255);
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .middle-bar{
        margin-top: 0px;
    }
    .navbar-toggler .top-bar{
        margin-top: 0px;
        transform: rotate(135deg);
    }
    .navbar-toggler .middle-bar{
        opacity: 0;
        filter: alpha(opacity=0);

    }
    .navbar-toggler .bottom-bar{
        margin-top: 0px;
        transform: rotate(-135deg);
    }
    .navbar-toggler.collapsed .top-bar{
        margin-top: -20px;
        transform: rotate(0deg);
    }
    .navbar-toggler.collapsed .middle-bar{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .navbar-toggler.collapsed .bottom-bar{
        margin-top: 20px;
        transform: rotate(0deg);
    }
    .navbar-toggler.collapsed .toggler-icon{
        background: white;
    }
 
    .header__logo{
        width: 0;

    }

}



/*MAIN INDEX*/
.inicio__carousel__background{
    background-image: url(../imagenes/sutdio.jpg);
    background-position: 1px;
    background-attachment: fixed;
}
.carousel__main{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;

}

#main__inicio__encabezados{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}
#main__inicio__encabezados h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 0% 1% 0.5% 1%;
    color: #A9DEF9; 
}
#main__inicio__encabezados h2{
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
#main__inicio__video{
    display: flex;
    height: 70%;
    width: 100%;
}
#main__inicio__video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main__inicio__productos{
    height: 75%;
    width: 99%;

}
.productos__titulo{
    text-align: center;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
.productos__titulo h2{
    font-size: 260%;
}
.contenedor__productos__index{
    width: 100%;
    height: 120%;
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 14%;
}
.productos__tarjeta{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid white ;
    padding: 0%;
    background-color: #020300;
    border-radius: 8px;
}
.tarjeta-producto__imagen{
    width: 100%;
    border-radius: 8px;
}
#main__inicio__productos h2, p, h3{
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
.tarjeta-producto__titulo{
    text-align: center;
    font-size: 200%;
    padding-top: 5%;
}
.tarjeta-producto__descripcion{
    text-align: center;
    font-size: 120%;
    margin: 3%;
}
.tarjeta-producto__boton {
    width: 35%;
    height: 9%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: #020202;
    font-weight: bold;
    margin: 5%;
}
.tarjeta-producto__boton a{
    text-decoration: none;
    color: #020202;
}
/*Media Query - Mobile*/
@media (max-width:576px){
    .carousel-inner{
        height: 30%;
    }
    #main__inicio__encabezados h1{
        font-size: 140%;
    }
    #main__inicio__encabezados h2{
        font-size: 120%;
        margin: 5%;
        text-align: center;
        justify-content: center;
    }
    #main__inicio__video{
        height: 40%;
    }
    .productos__titulo{
        height: 10%;
    }
    .productos__titulo h2{
        font-size: 200%;
    }
    .contenedor__productos__index{
        padding-top: 0%;
        padding-bottom: 50%;
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
    }
    #main__inicio__productos{
        height: 260%;
    }
    .row {
        --bs-gutter-x: 0rem;
}
}

/*MAIN CONTACTO*/
#main__contacto{
    background-color:#040F0F;
}
#main__contacto__titulo{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#main__contacto__form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height:70%;
    width: 100%;
    margin-top: 4%;
    
}
.main__form{
    width: 45%;
    height: 95%;
    padding: 1%;
    background-color:#204f6e79;
    border-radius: 5px;
    margin: 0% 0% 0% 1%;
}
.main__form__controles{
    width: 80%;
    color: aliceblue;
    background: #040f0f25;
    margin-bottom: 6%;
    margin-top: 1%;
    padding: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #40aa9e;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    border-radius: 5px;
}
.main__form__boton{
    width: 30%;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #62fff2;
    border-radius: 5px;
    border-color: #62fff2;
}
#main__contacto__mensajes{
    height: 50%;
    width: 50%;
    display: flex;
    flex-flow: column;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    margin: 0% 3% 0% 0%;
    justify-content: space-between;
    font-size: 20px;
}
.main__mensajes__inferior{
    padding-bottom: 5%;
    padding-top: 4%;
    font-size: 19px;
}
#main__contacto__iconos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    padding-top: 2%;
    
}
.main__icono__robot{
    width: 35%;
    padding-top: 4%;
}
.main__icono__logo{
width: 10%;
height: 30%;
position: relative;
right: 9%;
bottom: 5%;
}
.main__icono__barra{
    position: relative;
    right: 2%;
    padding-top: 4%;
    width: 108%;
    border-bottom: 1px solid lightseagreen;
}
.atencion__banner{
    display: flex;
    width: 100%;
    height: 25%;
    background-color: lightseagreen;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 35px;
    background-image: url(../imagenes/contacto__banner.jpg);
    background-position: 0px 1000px;
    margin-top: 5%;
}
.banner__numero{
    font-weight: bold;
}
#main__contacto__mapa{
    width: 100%;
    height: 37%;
}

/*MAIN PROMOCIONES*/
#main__promociones__titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    margin-top: 3%;
    font-size: 25px;
}
#promociones__productos__superior{
    height: 74%;
    width: 99%;
}

.contenedor__productos__promociones{
    width: 21%;
    height: 80%;
    padding: 0%;
    margin-left: 39.6%;
    margin-top: 3%;
}
#main__promociones__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    background-image: url(../imagenes/promociones__banner.jpg);
    background-attachment: fixed;
    background-position: 1px;
}
#main__promociones__contacto{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    background-color: lightseagreen;
    margin: 0%  0% 0% 0%;
}
#main__promociones__divisor{
    height: 70%;
    margin-bottom: 20%;
}
#main__promociones__contacto h2{
    font-size: 230%;
}
#main__promociones__video{
    display: flex;
    height: 90%;
}

#main__promociones__video video{

    height: 100%;
    width: 100%;
    object-fit: cover;
}   
#promociones__productos__inferior{
    height: 74%;
    width: 99%;
}
.carousel__promociones{
    height: 100%;
}
/*Media Query - Mobile*/
@media (max-width:576px){
    .contenedor__productos__promociones{
        width: 80%;
        height: 90%;
        margin-left: 10%;
        padding:5%
    }
    #promociones__productos__superior{
        height: 90%;
        width: 99%;
    }
    #promociones__productos__inferior{
        height: 75%;
        width: 100%;
        margin-bottom: 5%;
    }
    #promociones__productos__superior{
        height: 70%;
        width: 100%;
    }
    #main__promociones__banner{
        height: 25%;
        background-size: cover;  
        background-attachment: scroll;      
    }
    #main__promociones__contacto h2{
        font-size: 120%;
        padding: 3%;
    }
    #main__promociones__video video{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    #main__promociones__divisor{
        height: 70%;
        margin-bottom: 5%;
    }
}

/*MAIN SOBRE-NOSOTROS*/
#main__sobrenosotros__banner{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    font-size: 40px;
    height: 110%;
    background-image: url(../imagenes/sobre-nosotros__banner.jpg);
    background-attachment: fixed;
}
#main__sobrenosotros__banner h2{
    font-size: 20px;
}
#main__sobrenosotros__banner h1{
    margin-top: 3%;
}
#main__sobrenosotros__divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: #40aa9e;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
#main__sobrenosotros__quienes-somos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    background-color: #587B7F;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
#main__sobrenosotros__quienes-somos p{
    margin: 1% 25% 0% 25%;
    font-size: 23px;
}
#main__sobrenosotros__historia {
    display: flex;
    flex-flow: row;
    height: 60%;
}
#historia__imagen {
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/historia__image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
}
#historia__texto{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    text-align: left;

}
#historia__texto p{
    font-size: 20px;
    margin: 0% 10% 0% 10%;
    padding: 3%;
    overflow-y: scroll;
}
#historia__texto h2 {
    font-size: 40px;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 3%;
}


/*MAIN SORTEO*/
#main__sorteo { 
    display: flex;
    height: 100%;
    flex-flow: column ;
    justify-content:space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    background-image: url(../imagenes/sorteo__banner.jpg);
}
#main__sorteo__titulo {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 20%;

}

#main__sorteo__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/sorteo__imagen.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:contain; 
    background-position: 50% 70%;
    
}
#main__sorteo__requisitos {

    text-align: left;
    width: 90%;
    flex-flow: column;
    padding: 3%;
    padding-top: 1%;
}
#main__sorteo__requisitos h2{
    font-size: 40px;
    text-align: center;
}
#main__sorteo__requisitos ul{
    text-align: left;
    font-size: 23px;
    margin-top: 3%;
    list-style-image: url(../imagenes/icono__listas__sorteo.png);
}
#main__sorteo__requisitos li{
    padding-bottom: 1%;
    font-size: 25px;
}
#main__sorteo__condiciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 30%;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
#main__sorteo__condiciones h2{
    padding-bottom: 1%;
    margin-top: 1%;
    font-size: 30px;
}
#main__sorteo__condiciones p {
    margin: 0% 7% 2% 7%;
    font-size: 20px;
    overflow-y: scroll;
}


/*FOOTER*/
footer{
display: flex;
flex-flow: row;
justify-content: space-around;
align-items: center;
height: 30%;
background-color: #0C343D;
padding: 0% 3% 0% 2%;
}

.footer__contacto{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
    font-size: 100%;
    height: 100%;
}
.footer__contacto h2{
    font-size: 35px;
    margin: 0% 2% 2% 0%; 
}
.footer__contacto p{
    font-size: 20px;
    padding: 1%;
}
.footer__redes {
    display: flex;
    flex-flow: row;
    height: 100%;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue; 
}
.footer__redes__titulo{
    font-size: 25px;
    margin: 0% 10% 0% 15%;
}
.footer__redes__iconos{
    display: flex;
    flex-flow: column;
    height: 85%;
    justify-content: space-around;
    align-items: center;
    margin: 0% 5% 0% 0%;
}
.footer__redes__texto{
    display: flex;
    flex-flow: column;
    height: 85%;
    justify-content: space-around;
    font-size: 100%;
}
.footer__derechos{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 20%;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: flex-start;
    color: aliceblue;
    padding-top: 1%;

}
.footer__derechos h2 {
    padding-left: 20%;
}
.footer__derechos p{
    padding: 5% 20% 5% 20%;
    text-align: left;
}
.footer__logo__container{
    width: 13%;
}
.footer__logo{
    width: 100%;
}
.footer__autor {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
/*Media Query - Mobile*/
@media (max-width:576px){
    footer{
        flex-flow: column;
        height: 100%;
        align-items: start;
    }
    .footer__logo__container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer__logo{
        width: 30%;
    }
    .footer__contacto{
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
    }
    .footer__redes{
        width: 100%;
    }
    .footer__redes__titulo{
        margin: 0% 10% 0% 0%;
    }
    .footer__redes__titulo h2{
        font-size: 100%;
    }
    .footer__redes__iconos{
        margin: 0% 5% 0% 0%;
    }
    .footer__redes__texto{
        height: 100%;
        justify-content: space-evenly;
    }
    .footer__redes__texto p{
        padding-top: 15%;
    }
    .footer__derechos{
        align-items: center;
        width: 100%;
    }
    .footer__derechos h2 {
        padding-top: 5%;
        padding-left:0%;
        
    }
    .footer__derechos p{
        text-align: center;
        padding: 0;
    }
}
