/*Media Query SORTEOS MOBILE*/

@media (max-width:576px) {
    #main__sorteo__titulo {
      height: 40%;
  
      h1 {
        font-size: 125%;
        padding-top: 5%;
      }
    }
  
  
  #main__sorteo__imagen {
    background-size: cover;
    border-top: white solid 3px;
    border-bottom: white solid 3px;
    border-radius: 3px;
    width: 100%;

  }
  
  #main__sorteo__requisitos {
    padding: 0%;
  
    h2 {
      padding-top: 7%;
      padding-bottom: 5%;
      font-size: 160%;
      font-weight: 600;
    }
  
    ul {
        li {
            font-size: 80%;
            padding-bottom: 7%;
        
            &::marker {
              content: '✓ ';
              font-size: 1.5em;
            }
          }
        }
  }
  
  #main__sorteo {
    background-image: linear-gradient(45deg, #4e4386, #7462ff);
  }

}