/*HEADER*/

header {
  display: flex;
    padding: 5px 2%;
    background-color: #02020285;
    position: sticky;
    top: 0;
    height: auto;
    z-index: 50000;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    .nav-p {
      font-family: $font-family;
      color: $primary-color; 
      text-decoration: none;
      font-size: 140%;
      letter-spacing: 20%;
      padding-left: 100px;
    }
  
    .navbar-bar {
      ul {
        word-spacing: 50%;
      }
    }
  
    .header__logo {
      width: 8%;
    }
  }