/*Media Query SOBRE-NOSOTROS MOBILE*/

@media (max-width:576px) {
    #main__sobrenosotros__banner {
      h1 {
        color: #020202;
        font-weight: bolder;
      }
      h2 {
        color: #020202;
        font-weight: bold;
      }
      background-position: -20px -500px;
    }
  
    #main__sobrenosotros__divisor {
      background-image: linear-gradient(10deg, #3d8ffacb, #31b5c7);
      h2 {
        font-size: 100%;
        text-align: center;
      }
    }
  
    #main__sobrenosotros__quienes-somos {
      background-color: #141c30;
      height: 35%;
      h2 {
        margin-top: 5%;
      }
      p {
        text-align: left;
        font-size: 70%;
        padding: 5% 0% 5% 3%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0%;
        margin-bottom: 0%;
      }
    }
  
    #main__sobrenosotros__historia {
      flex-flow: column;
      height: 180%;
    }
  }