@media (min-width: 993px) and (max-width: 1300px){
header {
    min-height: 8%;
    background-color: rgba(2, 2, 2, 0.33);
    background-image: linear-gradient(80deg, #b566ffb9, #6131af67);
    border-bottom: 2px solid white;
    font-size: 100%;

    .header__logo {
      width: 0;
    }
  }
  
}
  
  

